{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "css",
  "editorconfig": true
}
